<div class="grid">
    <form>
        <div class="col-10 col-offset-1">
            <div class="card">
                <h5>Creación de Canal</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label htmlFor="channelName">Nombre del canal</label>
                        <input pInputText id="channelName" type="text" />
                    </div>
                    <div class="field col-12 md:col-12">
                        <label htmlFor="channelDescription">Descripción</label>
                        <textarea id="channelDescription" rows="2" pInputTextarea autoResize="autoResize"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </form>

</div>
