<p-toast key="tst"></p-toast>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden mx-auto">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/layout/images/zeroTwoLogo.png" alt="Sakai logo" class="mb-5" style="width:81px; height:81px;">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Registro de Usuario</div>
                    <span class="text-600 font-medium">Ingresa tus datos para continuar</span>
                </div>

                <div class="flex align-items-center justify-content-end mb-2 w-full">
                    <a [routerLink]="'/pages'" class="text-xl font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Volver a inicio</a>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <form [formGroup]="fg" (ngSubmit)="send()">
                        <div class="field p-fluid mb-3">
                            <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                            <input id="email1"
                                   type="text"
                                   placeholder="Correo electrónico"
                                   pInputText
                                   class="w-full"
                                   aria-describedby="email-help"
                                   style="padding:1rem;"
                                   formControlName="email">
                            <small *ngIf="emailInvalid" id="email-help" class="p-error">El correo no es válido.</small>
                        </div>

                        <div class="field p-fluid mb-3">
                            <label for="nickname1" class="block text-900 text-xl font-medium mb-2">Nickname</label>
                            <input id="nickname1"
                                   type="text"
                                   placeholder="Nombre de usuario"
                                   pInputText
                                   class="w-full"
                                   aria-describedby="nickname-help"
                                   style="padding:1rem;"
                                   formControlName="nickname">
                            <small *ngIf="nicknameInvalid" id="nickname-help" class="p-error">El nombre de usuario no es válido.</small>
                        </div>

                        <div class="field p-fluid mb-3">
                            <label for="name1" class="block text-900 text-xl font-medium mb-2">Nombre y apellidos</label>
                            <input id="name1"
                                   type="text"
                                   placeholder="Nombre y apellidos"
                                   pInputText
                                   class="w-full"
                                   aria-describedby="name-help"
                                   style="padding:1rem;"
                                   formControlName="name">
                            <small *ngIf="nameInvalid" id="name-help" class="p-error">Introduce un nombre.</small>
                        </div>

                        <div class="field p-fluid mb-3">
                            <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                            <p-password id="password1"
                                        placeholder="Contraseña"
                                        [toggleMask]="true"
                                        styleClass="w-full mb-3 p-password p-component p-inputwrapper p-input-icon-right"
                                        aria-describedby="password-help"
                                        formControlName="password">
                                <ng-template pTemplate="header">
                                    <h6>Introduzca una contraseña</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Mínimo obligatorio</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>Una letra minúscula</li>
                                        <li>Una letra mayúscula</li>
                                        <li>Un número</li>
                                        <li>5 caracteres</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <small *ngIf="passwordInvalid" id="password-help" class="p-error">La contraseña no es válida.</small>
                        </div>

                        <div class="field p-fluid mb-3">
                            <label for="password2" class="block text-900 font-medium text-xl mb-2">Repetir contraseña</label>
                            <p-password id="password2"
                                        placeholder="Repetir contraseña"
                                        [toggleMask]="true"
                                        styleClass="w-full mb-3 p-password p-component p-inputwrapper p-input-icon-right"
                                        aria-describedby="password-help2"
                                        formControlName="repPass"></p-password>
                            <small *ngIf="repPassInvalid" id="password-help2" class="p-error">Las contraseñas no coinciden.</small>
                        </div>

                        <div class="field mb-3">
                            <label for="basic" class="block text-900 font-medium text-xl mb-2">Fecha de Nacimiento</label>
                            <p-calendar id="basic" formControlName="birthday" styleClass="w-full mb-3" aria-describedby="birthday-help"></p-calendar>
                            <small *ngIf="birthdayInvalid" id="birthday-help" class="p-error">Introduce una fecha de nacimiento.</small>
                        </div>

                        <div class="mb-3">
                            <p-inputSwitch formControlName="adultContent" id="aC"></p-inputSwitch>
                            <label for="aC" class="p-3 vertical-align-bottom md:vertical-align-top">Contenido Adulto</label>
                        </div>

                        <div class="field-checkbox mb-3">
                            <p-checkbox name="group1" [binary]="true" id="ch" formControlName="terms" aria-describedby="terms-help"></p-checkbox>
                            <label for="ch">Acepto los términos y condiciones de uso</label>
                        </div>
                        <div class="mb-3">
                            <small *ngIf="termsInvalid" id="terms-help" class="p-error">Es necesario aceptar los términos y condiciones.</small>
                        </div>

                        <button type="submit" pButton pRipple label="Enviar" class="w-full p-3 text-xl"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
