<div class="flex flex-row flex-wrap mb-2 justify-content-between">
    <div class="text-center col-12 md:col-3 flex" style="cursor: pointer">
        <p-avatar  styleClass="mx-2" [style]="{'border': '1px solid var(--primary-color)'}" shape="circle"></p-avatar>
        <span class="text-md text-color-secondary mx-3 mt-1">
            ioaycfsadhiudsf
        </span>
    </div>
    <div class="col-12 md:col-2 flex" style="cursor: pointer">
        <i class="pi pi-comment mx-1" style="font-size: 1.5rem"></i>
        <i class="pi pi-thumbs-up mx-1" style="font-size: 1.5rem"></i>
        <i class="pi pi-thumbs-down mx-1" style="font-size: 1.5rem"></i>
        <i class="pi pi-user-plus mx-1" style="font-size: 1.5rem"></i>
        <i class="pi pi-user-minus mx-1" style="font-size: 1.5rem"></i>
    </div>
</div>
<div class="card col-12" style="background: var(--threadBackground)">

</div>
