<p-toast></p-toast>
<div class="thread-content">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="p-fluid grid">
                    <div class="col-12">
                        <div (click)="goToChannel(thread._idChannel)" class="threadChannel text-md text-color-secondary" style="cursor: pointer;">
                            <i class="pi pi-angle-left"></i>{{channel._name}}
                        </div>
                        <div class="flex flex-row flex-wrap justify-content-between">
                            <div class="threadTitle text-4xl flex text-primary">
                                {{thread._name}}
                            </div>
                            <div class="threadUser flex text-md text-color-secondary mt-2">
                                <!--{{user._nickname}}-->
                            </div>
                        </div>
                        <div id="asd" class="card threadContent mt-3 text-color" style="background: var(--threadBackground)"></div>
                        <div class="threadPhotos">
                            <span *ngIf="!emptyArray">
                            <div class="text-center col-12 flex flex-row flex-wrap card-container justify-content-center" id="photosBox" style="display: none">
                                <div *ngFor="let media of multimedia; index as i; first as isFirst" class="flex align-items-center justify-content-center w-4rem h-4rem border-round m-2" style="display: none">
                                    <p-image width="100%" id="photo" src="{{media._directory}}" alt="preview" [preview]="true"></p-image>
                                </div>
                            </div>
                        </span>
                            <span *ngIf="emptyArray"></span>
                        </div>
                    </div>
                </div>
            </div>
            <app-comment-create></app-comment-create>

        </div>
    </div>
</div>
