<p-toast></p-toast>
<div class="thread-content">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <p-progressSpinner class="col-2 col-offset-5" *ngIf="loading"></p-progressSpinner>
                <div *ngIf="!loading" class="p-fluid grid">
                    <div class="col-12">
                        <div (click)="goToChannel(thread._idChannel)" class="threadChannel text-md text-color-secondary col-12" style="cursor: pointer;">
                            <i class="pi pi-angle-left"></i>{{channel._name}}
                        </div>
                        <div class="flex flex-row flex-wrap justify-content-between">
                            <div class="threadTitle text-4xl flex text-primary">
                                {{thread._name}}
                            </div>
                            <div style="cursor: pointer;" (click)="goToProfile()" class="threadUser flex text-md text-color-secondary mt-2">
                                <span class="mt-1">{{user._nickname}}</span>
                                <p-avatar [image]="user._profilePhoto" styleClass="mx-2" [style]="{'border': '1px solid var(--primary-color)'}" shape="circle"></p-avatar>
                            </div>
                        </div>
                        <div [innerHTML]="thread._content" class="card threadContent mt-3 text-color" style="background: var(--threadBackground)"></div>
                        <div class="threadPhotos">
                            <span *ngIf="!emptyArray">
                            <div class="text-center col-12 flex flex-row flex-wrap card-container justify-content-center" id="photosBox" style="display: none">
                                <div *ngFor="let media of multimedia; index as i; first as isFirst" class="flex align-items-center justify-content-center w-4rem h-4rem border-round m-2" style="display: none">
                                    <p-image width="100%" id="photo" src="{{media._directory}}" alt="preview" [preview]="true"></p-image>
                                </div>
                            </div>
                        </span>
                        </div>
                        <div *ngIf="canCreate" class="col-12 md:col-2 flex">
                            <i (click)="toggleComment()" class="pi pi-comment mx-1" style="font-size: 1.5rem; cursor: pointer"></i>
                            <i (click)="like()" class="pi pi-thumbs-up mx-1" style="font-size: 1.5rem; cursor: pointer"></i>
                            <i (click)="dislike()" class="pi pi-thumbs-down mx-1" style="font-size: 1.5rem; cursor: pointer"></i>
                        </div>
                        <div  *ngIf="commentVisible && canCreate" class="col-12">
                            <app-comment-create></app-comment-create>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12">
                <app-comments-list></app-comments-list>
            </div>
        </div>
    </div>
</div>
