<p-toast key="tst"></p-toast>
<div class="col-12">
    <div class="grid">
        <div class="col-6">Apodo: {{user._nickname}}</div>
        <div class="col-6">Nombre: {{user._name}}</div>
        <div class="col-6">Descripcion: {{user._description}}</div>
        <div class="col-6">Cumpleaños: {{user._birthday}}</div>
        <div class="col-6">Karma: {{user._karma}}</div>
        <div class="col-6">Tema: {{user._theme}}</div>
        <div class="col-6">Pais: {{user._country}}</div>
        <div class="col-6">Género: {{user._gender}}</div>
        <div class="col-6">Contenido adulto: {{user._adultContent}}</div>
        <div class="col-6">Admin Fachero: {{user._admin}}</div>
    </div>

</div>
