<div class="card">
    <div class="grid">
        <div class="text-center col-12 md:col-3">
            <img class="h-13rem w-13rem md:w-full md:h-auto md:h-auto" [src]="channel._photo" style="border-radius: 10000px; border: 3px solid var(--primary-color)">
        </div>
        <div class="col-12 md:col-9">
            <div class="col-12">
                <img style="border-radius: 50px" class="w-full" [src]="channel._banner" alt="">
            </div>
        </div>
        <div class="col-12">
            <p class="text-center w-full text-5xl md:text-8xl white-space-nowrap overflow-hidden text-overflow-ellipsis">
                {{channel._name}}
            </p>
        </div>
        <div class="col-12">
            <p-panel header="Descripción" [toggleable]="true">
                <p class="text-xl md:text-2xl">{{channel._description}}</p>
            </p-panel>
        </div>

    </div>
</div>
<app-search-bar></app-search-bar>

<div class="card">
    <div class="grid">
            <span *ngIf="!notFounEntries" class="col-12">
                <div *ngFor="let thread of threads; index as i; first as isFirst" (click)="goToThread(thread._idThread)" class="card w-full mb-5" style="cursor: pointer;background-color: var(--surface-border); background-image: url({{thread._banner}}); background-position: center; background-size: cover;">
                    <div class="grid">
                        <div class="col-2 md:col-1 borderR">
                            <p-avatar [style]="{'border': '3px solid var(--primary-color)'}" shape="circle" class="w-full" id="previewMainPhoto" [image]="thread._photo" severity="danger" styleClass="mr-2" size="xlarge"></p-avatar>
                        </div>
                        <div class="col-9 col-offset-1 md:col-11 md:col-offset-0 white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <span class="w-full text-4xl md:text-6xl" style="color: var(--text-color); background-color: var(--background2); border-radius: 10px;">{{ thread._name }}</span>
                        </div>
                    </div>
                </div>
            </span>
        <div *ngIf="notFounEntries" class="card col-12" style="background-color: var(--surface-border)">
            <div class="grid">
                <div class="col-12 text-center">
                    <span class="text-4xl md:text-6xl">No se han encontrado resultados</span>
                </div>
            </div>
        </div>
        <p-paginator class="w-full mb-2" [rows]="pag" [totalRecords]="totalRecords" pageLinkSize="3" (onPageChange)="paginate($event)"></p-paginator>
    </div>

</div>
